<link rel="stylesheet" type="text/css" href="<%= url("/css/style.css")%>">

<script src="https://checkout.stripe.com/checkout.js"></script>

<div>
<!-- Fly to Singapore Form -->
<div class="img__wrap">
	<img id="image" src="/singapore.jpg">
<div class="img__description_layer">
	<form action="/chargeSingapore" method="POST">
		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="Flight to Singapore + Hotel"
            data-amount="80000"
            data-label="Fly Singapore"
            data-locale="auto"></script>
        </form>
  </div>
</div>

<!-- Fly to Thailand Form -->
<div class="img__wrap">
	<img id="image" src="/thailand.jpg">
<div class="img__description_layer">
	<form action="/chargeThailand" method="POST">
		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="Flight to Thailand + Hotel"
            data-amount="80000"
            data-label="Fly Thailand"
            data-locale="auto"></script>
        </form>
  </div>
</div>	
</div>
